<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" >

   <listeners>
      <listener class-name="JavaMavenProject.E2EProject.Listeners">
      </listener> 
   </listeners>

  <test thread-count="5" name="Test1">
    <classes>
      <class name="JavaMavenProject.E2EProject.HomePageTest"></class>
     </classes>  
   </test>  
   
   <test thread-count="5" name="Test2">
    <classes>
      <class name="JavaMavenProject.E2EProject.NavigateBarTest"></class>
    </classes>  
   </test>  
        
    <test thread-count="5" name="Test3">
    <classes> 
      <class name="JavaMavenProject.E2EProject.validateTitleTest"></class>
    </classes>  
   </test>  
</suite> <!-- Suite -->
